@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        background-color: #f5f8ff;
        color: #2f2d2f;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}